<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hi Platform App</title>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
        integrity="sha256-8B1OaG0zT7uYA572S2xOxWACq9NXYPQ+U5kHPV1bJN4=" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="https://assets.digitalocean.com/logos/favicon.png" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
</head>

<body>
    <nav aria-label="main navigation" class="navbar is-light" role="navigation">
        <div class="navbar-brand">
            <div class="navbar-item">
                <img atl="DigitalOcean" src="https://assets.digitalocean.com/logos/DO_Logo_icon_blue.png">Tickets Inbox
            </div>
        </div>
    </nav>

    <table class="table is-fullwidth is-striped is-bordered">
        <thead>
            <tr>
                <th>Estado</th>
                <th>Ticket</th>
                <th>Responsável</th>
                <th>Tipo</th>
                <th>Grupo</th>
                <th>SLA</th>
                <th>Acessar</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <th> {{ ticket.ticket_status }} </th>
                <td> {{ ticket.ticket_number }} </td>
                <td> {{ ticket.ticket_agent }} </td>
                <td> {{ ticket.ticket_type }} </td>
                <td> {{ ticket.ticket_group }} </td>
                <td> {{ ticket.ticket_sla }} </td>
                <td> {{ ticket.ticket_url }} </td>
            </tr>
            {% endfor %}
        </tbody>
</body>

</html>